<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>979725807479-mota84pl84876lkb7rsh1r5hhs0d5r78.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.979725807479-mota84pl84876lkb7rsh1r5hhs0d5r78</string>
	<key>API_KEY</key>
	<string>AIzaSyDU5rMGr6GqQKdc_1jj0jNGI4q3KZy3KrA</string>
	<key>GCM_SENDER_ID</key>
	<string>979725807479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-76154</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-76154.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:979725807479:ios:32ed88485d1eec10c0bb72</string>
</dict>
</plist>